.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.marginBottom {
	margin-bottom: 15px;
}

body {
	padding-top: 70px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}

.obrigatorio::after {
	content: " *";
	color: #f00;
}