<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">

<link rel="stylesheet" media="screen" href="css/bootstrap.css" />
<link rel="stylesheet" media="screen" href="css/integration_DT_Bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="css/datepicker3.css"/>
<link rel="stylesheet" type="text/css" href="css/style.css"/>

<script type="text/javascript" src="js/jquery-2.0.3.min.js" ></script>
<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/integration_DT_Bootstrap.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js" ></script>
<script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="js/locales/bootstrap-datepicker.pt-BR.js"></script>
<script type="text/javascript" src="js/geral.js" ></script>
<title>NL</title>
</head>

<body>
	    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">NOSSO LAR  </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Consulta</a></li>
            <li class="Cadastro active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cadastro <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
              	<li><a href="#">Trabalhador</a></li>
                <li><a href="#">Paciente</a></li>
                <li><a href="#">Compromisso</a></li>
                <li class="divider"></li>
                <li><a href="#">Entrevista</a></li>
              </ul>
            </li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Fábio Seixas Sales<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#perfil"><span class="glyphicon glyphicon-user"></span> Perfil</a></li>
                    <li class="divider"></li>
                    <li><a href="login.html"><span class="glyphicon glyphicon-log-out"></span> Sair</a></li>
                </ul>
                </li>
            </ul>
          
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
    
        <ol class="breadcrumb">
            <li><a href="#">Cadastro</a></li>
            <li class="active">Trabalhador</li>
        </ol>
        
       
        <h2>Trabalhador</h2>
        <hr>
        <!-- class= alert-success alert-info alert-warning alert-danger-->
        <div class="alert alert-success" role="alert">Cadastro realizado com sucesso.</div>
		
        <form role="form">
            
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label for="tb002_co_matricula">Matrícula</label>
                        <input type="text" id="tb002_co_matricula" class="form-control ng-pristine ng-invalid ng-invalid-required" required name="type_something" data-ng-trim="false" data-ng-model="form.type_something">                        
                    </div>
                    <div class="col-md-3">
                        <label for="tb002_co_senha">Senha</label>
                        <input type="text" id="tb002_co_senha" class="form-control ng-pristine ng-invalid ng-invalid-required" required name="type_something" data-ng-trim="false" data-ng-model="form.type_something">                        
                    </div>
                    <div class="col-md-6">
                        <label for="tb002_no_trabalhador">Nome</label>
                        <input type="text" id="tb002_no_trabalhador" class="form-control ng-pristine ng-invalid ng-invalid-required" required name="type_something" data-ng-trim="false" data-ng-model="form.type_something">                        
                    </div>
                    
                </div>
                
                <div class="row">
                	<div class="col-md-3">
                        <label for="tb002_no_cracha">Cracha</label>
                        <input type="text" id="tb002_no_cracha" class="form-control ng-pristine ng-invalid ng-invalid-required ng-invalid-equal" required name="confirm_type" data-ng-trim="false" data-ng-model="form.confirm_type" data-validate-equals="form.type_something">                        
                    </div>
                     <div class="col-md-6">
                        <label for="tb002_ed_trabalhador">Endereço</label>
                        <input type="text" id="tb002_ed_trabalhador" class="form-control ng-pristine ng-invalid ng-invalid-required" required name="type_something" data-ng-trim="false" data-ng-model="form.type_something">                        
                    </div>
                    <div class="col-md-3">
                        <label for="tb002_no_bairro">Bairro</label>
                        <input type="text" id="tb002_no_bairro" class="form-control ng-pristine ng-invalid ng-invalid-required" required name="type_something" data-ng-trim="false" data-ng-model="form.type_something">                        
                    </div>
                </div>
                
                <div class="row">
                 	<div class="col-md-3">
                        <label for="tb002_no_cidade">Cidade</label>
                        <input type="text" id="tb002_no_cidade" class="form-control ng-pristine ng-invalid ng-invalid-required" required name="type_something" data-ng-trim="false" data-ng-model="form.type_something">                        
                    </div>
                    <div class="col-md-1">
                        <label for="tb002_sg_uf">UF</label>
                        <input type="text" id="tb002_sg_uf" class="form-control ng-pristine ng-invalid ng-invalid-required" required name="type_something" data-ng-trim="false" data-ng-model="form.type_something">                        
                    </div>
                     <div class="col-md-2">
                        <label for="tb002_co_cpf">CEP</label>
                        <input type="text" id="tb002_co_cpf" class="form-control ng-pristine ng-invalid ng-invalid-required" required name="type_something" data-ng-trim="false" data-ng-model="form.type_something">                        
                    </div>
                    <div class="col-md-2">
                        <label for="tb002_dt_nascimento">Data de Nascimento</label>
                        <input type="text" id="tb002_dt_nascimento" class="form-control datepicker ng-pristine ng-invalid ng-invalid-required" required name="type_something" data-ng-trim="false" data-ng-model="form.type_something">                        
                    </div>
                     <div class="col-md-2">
                        <label for="tb002_co_cpf">CPF</label>
                        <input type="text" id="tb002_co_cpf" class="form-control ng-pristine ng-invalid ng-invalid-required" required name="type_something" data-ng-trim="false" data-ng-model="form.type_something">                        
                    </div>
                    <div class="col-md-2">
                        <label for="tb002_co_rg">RG</label>
                        <input type="text" id="tb002_co_rg" class="form-control ng-pristine ng-invalid ng-invalid-required" required name="type_something" data-ng-trim="false" data-ng-model="form.type_something">                        
                    </div>
                     
                </div>
                <div class="row">
                	<div class="col-md-2">
                        <label for="tb002_ic_sexo">Sexo</label>
                        <select id="tb002_ic_sexo" class="form-control">
                          <option selected>Selecione</option>
                          <option>Masculino</option>
                          <option>Feminino</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="tb002_de_profissao">Profissão</label>
                        <input type="text" id="tb002_de_profissao" class="form-control ng-pristine ng-invalid ng-invalid-required" required name="type_something" data-ng-trim="false" data-ng-model="form.type_something">                        
                   	</div>
                   	<div class="col-md-2">
                        <label for="tb002_de_telefone1">Telefone 1</label>
                        <input type="text" id="tb002_de_telefone1" class="form-control ng-pristine ng-invalid ng-invalid-required" required name="type_something" data-ng-trim="false" data-ng-model="form.type_something">                        
                    </div>
                    <div class="col-md-2">
                        <label for="tb002_de_telefone2">Telefone 2</label>
                        <input type="text" id="tb002_de_telefone2" class="form-control ng-pristine ng-invalid ng-invalid-required" required name="type_something" data-ng-trim="false" data-ng-model="form.type_something">                        
                    </div>
                    <div class="col-md-2">
                        <label for="tb002_de_telefone3">Telefone 3</label>
                        <input type="text" id="tb002_de_telefone3" class="form-control ng-pristine ng-invalid ng-invalid-required" required name="type_something" data-ng-trim="false" data-ng-model="form.type_something">                        
                    </div>
                </div>
                <div class="row">
                	<div class="col-md-6">
                    	<label for="tb002_de_email1">E-mail 1</label>
                        <input type="text" id="tb002_de_email1" class="form-control ng-pristine ng-invalid ng-invalid-required" required name="type_something" data-ng-trim="false" data-ng-model="form.type_something">                        
                    </div>
                    <div class="col-md-6">
                    	<label for="tb002_de_email2">E-mail 2</label>
                        <input type="text" id="tb002_de_email2" class="form-control ng-pristine ng-invalid ng-invalid-required" required name="type_something" data-ng-trim="false" data-ng-model="form.type_something">                        
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="tb002_im_foto">Foto</label>
                <input type="file" id="tb002_im_foto">
            </div>
            <button type="submit" class="btn btn-default btn-primary">Enviar</button>
        </form>
        
     
 
      

    </div> <!-- /container -->
</html>
